.card-container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  min-width: 350px;
  max-width: 00px;
  max-height: 980px;
  border-radius: 14px;
  box-shadow: 0px 10px 40px hsl(180, 2%, 36%);
  margin: 20px;
  margin-top: 30px;
}

img {
  width: 100;
  border-radius: 8px;
}

button {
  margin: 10px;
  padding: 6px;
}
