.container {
  display: flex;

  gap: 50px;

  margin-bottom: 100px;
  margin-top: 50px;
}

h2 {
  padding: 10px;
}

h5 {
  padding: 5px;
  padding-top: 20px;
}

li {
  margin-top: 15px;
  font-weight: bold;
}

img {
  margin-top: 15px;
  width: 100%;
}
.Vasak {
  background-color: rgb(185, 247, 247);
  border-radius: 14px;
  margin-top: 50px;

  float: left;
  padding: 30px;
  max-width: 330px;
}

.Parem {
  float: right;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.addButton,
.counterButton {
  border-radius: 6px;
}

.addButton {
  margin: 10px;
  padding: 5px;
}
